name: CI/CD Pipeline

on:
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string
      environnement:
        required: true
        type: string
      nextjs_base_url:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: "Set up Python"
        run: uv python install

      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint with Ruff
        run: uv run ruff check .


  build-docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: projetudsp38/udsp38-scheduler-microservice:${{ inputs.docker_tag }}
          build-args: |
            DATABASE_URL=${{ secrets.DATABASE_URL }}
            NEXTJS_BASE_URL=${{ secrets[inputs.nextjs_base_url] }}