name: CI/CD Pipeline

on:
  workflow_call:
    inputs:
      docker_tag:
        required: true
        type: string
      environnement:
        required: true
        type: string
      nextjs_base_url:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: "Set up Python"
        run: uv python install

      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint with Ruff
        run: uv run ruff check .


  build-docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Creer le fichier de configuration firebase
        run: echo '${{ secrets.FIREBASE_CONFIG_JSON }}' > ./firebase-adminsdk.json

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: projetudsp38/udsp38-scheduler-microservice:${{ inputs.docker_tag }}


  deploy:
    needs: build-docker
    runs-on: ubuntu-latest
    steps:
      -  uses: actions/checkout@v4

      - name: Copy Docker Compose to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY_SCHEDULER }}
          source: "docker-compose.${{inputs.environnement}}.yml"
          target: "/home/${{ secrets.SSH_USER }}/app/udsp38-scheduler/"
          strip_components: 0


      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY_SCHEDULER }}
          script: |
            cd /home/${{ secrets.SSH_USER }}/app/udsp38-scheduler
            PROJECT_NAME=udsp38_scheduler_${DOCKER_TAG}
            docker stop udsp38-scheduler-ms-${{inputs.docker_tag}} || true
            docker rm udsp38-scheduler-ms-${{inputs.docker_tag}} || true
            docker rmi projetudsp38/udsp38-scheduler-microservice:${{inputs.docker_tag}} || true
            docker compose -p ${PROJECT_NAME} -f docker-compose.${{inputs.environnement}}.yml up -d
            docker image prune -f